<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olya's blog</title>
</head>
<body>
 <div>
                <h1><a href="https://www.gitbook.com/book/djangogirls/djangogirls-tutorial/details">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 19.11.2015, 20.15</p>
                <h2><a href="http://tutorial.djangogirls.org/ru/installation/index.html">Install</a></h2>
                <p>All tools from tutorial were installed.</p>
            </div>

            <div>
                <p>published: 19.11.2015, 21:24</p>
                <h2><a href="http://tutorial.djangogirls.org/ru/installation/index.html">Log up</a></h2>
                <p>All acounts from tutorial were log up.</p>
            </div>

            <div>
                <p>published: 21.11.2015, 14:24</p>
                <h2><a href="http://tutorial.djangogirls.org/ru/deploy/index.html">Repositories</a></h2>
                <p>Repositories in GitHub and PythonAnywhere were add and clone.</p>
            </div>
 {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}

</body>
</html>